

.btn::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 200%;
  height: 200%;
  border-radius: 50%;
  background-color: var(--smoky-black-1);
  transition: var(--transition-2);
  z-index: -1;
}
.btn:hover::before,
.btn:focus-visible::before {
  bottom: -50%;
}

.btn .text-2 {
  top: 150%;
  opacity: 0;
  color: var(--white);
}

/* Yazıların gizlenip görünmesi */
.btn:hover .text-1,
.btn:focus-visible .text-1 {
  transform: translateY(-40px);
}

.btn:hover .text-2,
.btn:focus-visible .text-2 {
  top: 50%;
  opacity: 1;
  transform: translate(-50%, -50%);
}

